# Data Science Tools and Ecosystem

This notebook we will explore data science tools and ecosystems.

## author
Greg

**Objectives**
- list popular langauges
- list popular libs
- convert 200 mins to hours
- create a table in markdown

some of the popular languages for data sceintist to use are:

1. Python
2. R
3. Java
4. C++
5. Julia
6. SQL
7. Scala
8. JavaScript

Some commonly used libraries in data science are:

1. Numpy
2. NLTK
3. Pandas

| Data Science Tools |
|--:|
| Jupyter notebooks |
| google colab |
| Rstudio |

### Examples of arithmetic expressions in python

In [1]:
#this is an example of some simple arithmetic expressions in python
(3*4)+5

17

In [2]:
#this is an example of turing 200 mins to hours
200/60

3.3333333333333335